<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="men-fashion">Men-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="men-luggage">Men-Luggage</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>









<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/M1355_001.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Leather Luggage Fisherman Bag</h2>
                <div class="description">
                    <p>For rugged vintage style and down to earth practicality, the slight scuffing and textured leather give great character to this classic fisherman’s bag. Satchel-style loops on the front pockets have concealed magnetic tips for secure closure and easy access,
                        with a natural unconstructed look and feel. Simple, functional and timeless, it’s a classic casual bag. </p>
                    <div class="price">
                        <p>Price : $162</p>
                    </div>
                    <a href="men-luggage1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/M1355_214.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Leather Luggage Fisherman Bag</h2>
                <div class="description">
                    <p>For rugged vintage style and down to earth practicality, the slight scuffing and textured leather give great character to this classic fisherman’s bag. Satchel-style loops on the front pockets have concealed magnetic tips for secure closure and easy access,
                        with a natural unconstructed look and feel. Simple, functional and timeless, it’s a classic casual bag. </p>
                    <div class="price">
                        <p>Price : $162</p>
                    </div>
                    <a href="men-luggage2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/P0048_001.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Leather Luggage Fisherman Bag</h2>
                <div class="description">
                    <p>For rugged vintage style and down to earth practicality, the slight scuffing and textured leather give great character to this classic fisherman’s bag. Satchel-style loops on the front pockets have concealed magnetic tips for secure closure and easy access,
                        with a natural unconstructed look and feel. Simple, functional and timeless, it’s a classic casual bag. </p>
                    <div class="price">
                        <p>Price : $162</p>
                    </div>
                    <a href="men-luggage3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/P0138_001.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Laptop Messenger (16L)</h2>
                <div class="description">
                    <p>This duffle style laptop messenger bag is great for travelling and commuting with your laptop and other essential work items. Compact and comfortable with internal and external pockets for storage,
                        carry over your shoulder for support and balance or by the top handle for a more briefcase-style look. </p>
                    <div class="price">
                        <p>Price : $99.99</p>
                    </div>
                    <a href="men-luggage4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/P0150_001.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Upright Case (33L - 3.7Kg)</h2>
                <div class="description">
                    <p>This practical and functional case is perfect for business – with no need to check in as luggage due to its cabin size dimensions – or for any convenient no-fuss travel any time any where. You can pull along for comfort or carry by the handle,
                        and with plenty of space inside and a large front pocket with additional zippered pocket, there’s plenty of useful and compact storage. </p>
                    <div class="price">
                        <p>Price : $99.99</p>
                    </div>
                    <a href="men-luggage5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/M1355_001.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Leather Luggage Fisherman Bag</h2>
                <div class="description">
                    <p>For rugged vintage style and down to earth practicality, the slight scuffing and textured leather give great character to this classic fisherman’s bag. Satchel-style loops on the front pockets have concealed magnetic tips for secure closure and easy access,
                        with a natural unconstructed look and feel. Simple, functional and timeless, it’s a classic casual bag. </p>
                    <div class="price">
                        <p>Price : $162</p>
                    </div>
                    <a href="men-luggage6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>



<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
