<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="men-fashion">Men-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>

  </ol>









    <div class="card">
            <div class="card-top">
                       <h1 class="card-title">Men's Footwear, Outerwear, Clothing & Accessories</h1>
            <div class="card-body">
            <p class="card-title">Men's range. Hard-wearing boots, jackets and clothing for unbeatable comfort day in, day out. Practical, easy-to-wear styles wherever you're headed.</p>

            </div>
            </div>
            </div>

            <div class="card">
            <div class="card-top">
                       <h1 class="card-title">MEN FASHION CATEGORIES</h1>

             </div>
             </div>



            <div class="card">
              <img src="../images/categories/mens-accessories-luggage.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Men's Wheeled Luggage</h5>
                <p class="card-text">Shop Men's Wheeled Luggage. Versatile, rugged suitcases, baggage, holdalls and shoulder bags. All with famous long-lasting quality.</p>
                <a href="men-luggage" class="btn btn-primary">View Products</a>
              </div>
            </div>

<div class="card">
    <img src="../images/categories/mens-accessories-ties.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Men's Casual and Business Ties</h5>
        <p class="card-text">Shop Mens's Ties for all occasions including business or casual</p>
        <a href="men-ties" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/mens-clothing-accessories.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Mens Clothing Including Suits, Tops, Bottoms & More</h5>
        <p class="card-text">Shop Men's Clothing. Relaxed, timeless classics you can rely on; from denim to corduroys and sweaters to shirts. Huge range of contemporary colours and eco-aware designs: great casualwear.</p>
        <a href="men-accessories" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/mens-clothing-dress-shirts.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Men's Dress Shirts including Striped, Button Down, Non-Iron & More</h5>
        <p class="card-text">Shop Men's dress shirts in a variety of colors and styles including striped, button down, non-iron & more</p>
        <a href="men-shirt" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/mens-clothing-pants.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Men's Pants Including Khakis, Cargos, Trousers, Jeans & More</h5>
        <p class="card-text">Shop Men's Trousers. Practical, easy-to-wear styles wherever you're headed. Check out famous rugged, long-lasting trousers, jeans, cargo pants and more.</p>
        <a href="men-pants" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/mens-clothing-shorts.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Men's Spring Shorts</h5>
        <p class="card-text">Shop Men's spring shorts in cotton. Variety of different fits.</p>
        <a href="men-shorts" class="btn btn-primary">View Products</a>
    </div>
</div>


<div class="card">
    <img src="../images/categories/mens-clothing-sportscoats.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Men's Jackets Including Jackets & Blazzers</h5>
        <p class="card-text">Shop Men's Jackets, Coats & Outerwear. Classic outdoor-tested garments with traditional styling details that provide comfort, insulation and ease of movement, whatever the weather.</p>
        <a href="men-sportscoats" class="btn btn-primary">View Products</a>
    </div>
</div>
<div class="card">
    <img src="../images/categories/mens-clothing-suits.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Mens Suits for Business and Casual</h5>
        <p class="card-text">Shop Men's suits for business or pleasure. Enjoy from a variety of different styles and cuts.</p>
        <a href="men-suits" class="btn btn-primary">View Products</a>
    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
