<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="men-fashion">Men-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="men-sportscoats">Men-Sportscoats</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>









<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/B0171103_BDA_L2.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Modern Blazer</h2>
                <div class="description">
                    <p>This modern sportcoat brings versatility to your blazer collection. Made in our wool silk end-on-end suiting. </p>
                    <div class="price">
                        <p>Price : $495</p>
                    </div>
                    <a href="men-sportscoats1" class="btn btn-success">View Products</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/B0174504_J5K_L1.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Modern Dress Shirt in Pink</h2>
                <div class="description">
                    <p>This modern dress shirt adds a touch of character to an office staple. Made in our fine-stripe fabric. </p>
                    <div class="price">
                        <p>Price : $135</p>
                    </div>
                    <a href="men-sportscoats2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/B0174504_J5K_L3.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Modern Dress Shirt in Pink</h2>
                <div class="description">
                    <p>This modern dress shirt adds a touch of character to an office staple. Made in our fine-stripe fabric. </p>
                    <div class="price">
                        <p>Price : $135</p>
                    </div>
                    <a href="men-sportscoats3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/B0274206_GYX_L1.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Straight Leg Trousers</h2>
                <div class="description">
                    <p>A menswear favorite, these straight leg trousers are to the point when it comes to business dressing.
                        Made in our lightweight combed stretch cotton suiting with pinstripe pattern. </p>
                    <div class="price">
                        <p>Price : $195</p>
                    </div>
                    <a href="men-sportscoats4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/B0274213_ED5_L1.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Front Rise Straight Leg Pants</h2>
                <div class="description">
                    <p>A menswear favorite, these straight leg trousers are to the point when it comes to business dressing.
                        Made in our basic cotton stretch twill fabric. </p>
                    <div class="price">
                        <p>Price : $175</p>
                    </div>
                    <a href="men-sportscoats5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/B0374107_DL0_L2.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Casual Spring Easy Jacket</h2>
                <div class="description">
                    <p>This easy jacket can be worn as part of a more casual spring suit or on its own with jeans or shorts.
                        Made in our cotton stretch fabric with a micro houndstooth pattern. </p>
                    <div class="price">
                        <p>Price : $295</p>
                    </div>
                    <a href="men-sportscoats6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>


<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
