<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-tops">Women-Tops</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>


<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10224255.JJW01XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>3/4 Sleeve Boat Neck Striped Knit</h2>
                <div class="description">
                    <p>You will love this crisp, classic, and casually chic boat neck stripe knit.
                        Pair it with a piece of great Untitled Store jewelry. </p>
                    <div class="price">
                        <p>Price : $79</p>
                    </div>
                    <a href="women-tops1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10224275.JJCF1XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>3/4 Sleeve Boat Neck Knit</h2>
                <div class="description">
                    <p>Crisp, classic and casually chic. Pair this boat neck with a great Untitled Store jacket. </p>
                    <div class="price">
                        <p>Price : $47.99</p>
                    </div>
                    <a href="women-tops2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10224275.JJP60A5.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>3/4 Sleeve Boat Neck Knit</h2>
                <div class="description">
                    <p>Crisp, classic and casually chic. Pair this boat neck with a great Untitled Store jacket. </p>
                    <div class="price">
                        <p>Price : $47.99</p>
                    </div>
                    <a href="women-tops3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10237138.JJ0CZXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Animal Print Tunic</h2>
                <div class="description">
                    <p>Update your wardrobe with this zebra print tunic. Animal prints are this seasons' favorite! </p>
                    <div class="price">
                        <p>Price : $89</p>
                    </div>
                    <a href="women-tops4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10237038.JJ4GRA0.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Beaded Scoop Neck Tank</h2>
                <div class="description">
                    <p>A beaded casual tank for all of your layering needs in a great neutral color.  This color looks good on everyone! </p>
                    <div class="price">
                        <p>Price : $69</p>
                    </div>
                    <a href="women-tops5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10237090.JJCG2XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Boat Neck Tunic</h2>
                <div class="description">
                    <p>You will want this printed boat neck top for your next BBQ!  The pattern gives off a flattering look! </p>
                    <div class="price">
                        <p>Price : $89</p>
                    </div>
                    <a href="women-tops6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
