<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-dresses">Women-Dresses</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>







<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10233285.JJGZ3XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Floral Sheath Dress</h2>
                <div class="description">
                    <p>This great cotton sheath dress has a flattering boat neckline and gorgeous print to welcome back the warm weather! shortDescription </p>
                    <div class="price">
                        <p>Price : $109</p>
                    </div>
                    <a href="women-dresses1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10234340.JJ0DDXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Floral Scoop Neck Tank Dress</h2>
                <div class="description">
                    <p>This dress is impeccably designed to keep you looking in style! Don't leave home without a pair of Untitled Store earrings. </p>
                    <div class="price">
                        <p>Price : $89</p>
                    </div>
                    <a href="women-dresses2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10242212.JJ6QGXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Floral Sundress</h2>
                <div class="description">
                    <p>Floral dresses continue to be a fashion must have! You will love how easy it is to wear this dress. </p>
                    <div class="price">
                        <p>Price : $128</p>
                    </div>
                    <a href="women-dresses3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10246254.JJC05A0.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Ruffle Front A-Line Dress</h2>
                <div class="description">
                    <p>An object of our obsession! We love this ruffled taffeta dress that we updated with a new belt. </p>
                    <div class="price">
                        <p>Price : $168</p>
                    </div>
                    <a href="women-dresses4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10242732.JJ2RRXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Blurred Leaf Floral Wrap Dress</h2>
                <div class="description">
                    <p>Look fabulous for any occasion with this printed tie front sheath dress. Pair with a great piece of Untitled Store jewelry. </p>
                    <div class="price">
                        <p>Price : $158</p>
                    </div>
                    <a href="women-dresses5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10245958.JJ1VQXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Floral Ruffly Seam Party Dress</h2>
                <div class="description">
                    <p>The perfect floral dress for any occasion! </p>
                    <div class="price">
                        <p>Price : $138</p>
                    </div>
                    <a href="women-dresses6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
