<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>



   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>

  </ol>

    <div class="card">
            <div class="card-top">
                       <h1 class="card-title">Women's Footwear, Outerwear, Clothing & Accessories</h1>
            <div class="card-body">
            <p class="card-title">Women's range. Fashionable and stylish Shoes, jackets and  all other clothing for unbeatable comfort day in, day out. Practical and fashionable styles wherever the occasion.</p>

            </div>
            </div>
            </div>

            <div class="card">
            <div class="card-top">
                       <h1 class="card-title">WOMEN FASHION CATEGORIES</h1>

             </div>
             </div>



            <div class="card">
              <img src="../images/categories/womens-accessories.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Women's Accessories Belts, Wallets. Gloves, Hats, Watches, Luggage & More</h5>
                <p class="card-text">Shop womens accessories including belts, wallets. gloves, hats, watches, luggage & more.</p>
                <a href="women-accessories" class="btn btn-primary">View Products</a>
              </div>
            </div>

<div class="card">
    <img src="../images/categories/womens-accessories-footwear.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Womens Shoes Including Casual, Flat, Mid Heels & High Heels</h5>
        <p class="card-text">Shop for womens shoes including casual, flat, mid heel and high heels for any occassion</p>
        <a href="women-footwear" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/womens-accessories-ties.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Scarves</h5>
        <p class="card-text">Shop Women's Scarves inclduing tweed, pale, basket and spin all.</p>
        <a href="women-ties" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/womens-clothing.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Womens Clothing Including Outerwear, Tops, Bottoms & More</h5>
        <p class="card-text">Shop Women's Clothing. Relaxed, timeless classics you can rely on; from denim to corduroys and sweaters to shirts. Huge range of contemporary colours and eco-aware designs: great casualwear.</p>
        <a href="women-clothing" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/womens-clothing-bottoms.jpg" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Bottoms Including Khakis, Cargos, Trousers, Jeans & More</h5>
        <p class="card-text">Shop Women's Trousers. Practical, easy-to-wear styles wherever you're headed. Check out Timberland's famous rugged, long-lasting trousers, jeans, cargo pants and more.</p>
        <a href="women-bottoms" class="btn btn-primary">View Products</a>
    </div>
</div>

<div class="card">
    <img src="../images/categories/womens-clothing-dresses.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Dresses for all Occasions</h5>
        <p class="card-text">Shop Women's dresses for all occasions including formal, evening and casual in a variety of colors</p>
        <a href="women-dresses" class="btn btn-primary">View Products</a>
    </div>
</div>


<div class="card">
    <img src="../images/categories/womens-clothing-jackets.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Outerwear Including Jackets & Collections</h5>
        <p class="card-text">Shop Women's Jackets, Coats & Outerwear. Classic outdoor-tested garments with traditional styling details that provide comfort, insulation and ease of movement, whatever the weather.</p>
        <a href="women-jackets" class="btn btn-primary">View Products</a>
    </div>
</div>
<div class="card">
    <img src="../images/categories/womens-clothing-tops.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Tops including Short & Long Sleeve, Casual, Classic & More</h5>
        <p class="card-text">Shop Women's Shirts. Short and long sleeve, Oxford, smart, casual and classic styles for unbeatable comfort from your desk to the great outdoors.</p>
        <a href="women-tops" class="btn btn-primary">View Products</a>
    </div>
</div>
<div class="card">
    <img src="../images/categories/womens-jewelry.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Jewelry including Earrings, Bracelets and Necklaces.</h5>
        <p class="card-text">Shop Women's jewelery including earrings, bracelets and necklaces in a variety of colors and sizes</p>
        <a href="women-jewelry" class="btn btn-primary">View Products</a>
    </div>
</div>
<div class="card">
    <img src="../images/categories/womens-jewelry-earrings.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Earrings including Button Clip-on, Curved & More</h5>
        <p class="card-text">Shop Women's earrings in a variety of colors and styles including button, clip on and curved.</p>
        <a href="women-earrings" class="btn btn-primary">View Products</a>
    </div>
</div>
<div class="card">
    <img src="../images/categories/womens-jewelry-necklaces.png" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">Women's Necklaces including Drop, Dangle & More</h5>
        <p class="card-text">Shop Women's neclaces in a variety of colors and styles including drop, dangled & more.</p>
        <a href="women-necklaces" class="btn btn-primary">View Products</a>
    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
