<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-necklaces">Women-Necklaces</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>




<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.51054910VC.HEMATML.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Light Hematite Necklace</h2>
                <div class="description">
                    <p>Brighten your day with this beautiful blue button necklace. Pair with its matching earring and enjoy them all year round.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch </p>
                    <div class="price">
                        <p>Price : $44</p>
                    </div>
                    <a href="women-necklaces1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60108555.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Pink and Brown Slip On</h2>
                <div class="description">
                    <p>Pink, brown and a bit of worn gold in this simply slip on elegant necklace.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch </p>
                    <div class="price">
                        <p>Price : $68</p>
                    </div>
                    <a href="women-necklaces2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60108566.JJNY2XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Green and Brown Beaded Frontal Collar Necklace</h2>
                <div class="description">
                    <p>Green and Brown beads create a stunning collar effect on this silver metal necklace with toggle closure.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $40</p>
                    </div>
                    <a href="women-necklaces3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60119204.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Worn Gold Necklace</h2>
                <div class="description">
                    <p>An Instant in glam; pair with matching earrings for a perfect look! Each piece
                        of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-necklaces4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60119245.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Drop Necklace</h2>
                <div class="description">
                    <p>This chic gold necklace is a great way to lift your spirits. Elegant circular design with toggle necklace closure. Pair with a cardigan or dress.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch.  </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-necklaces5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60119292.JJ276XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>3 Strand Drop Necklace</h2>
                <div class="description">
                    <p>Vintage inspired with an irresistibly modern twist. This chic necklace features strands of burnished chains accented with green and gold dangle stones.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch.</p>
                    <div class="price">
                        <p>Price : $36</p>
                    </div>
                    <a href="women-necklaces6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
