<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-accessories">Women-Accessories</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>






<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/TG250_001.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Oxford Gloves</h2>
                <div class="description">
                    <p>The grain leather gives a slightly worn look and feel to this practical glove, with the belt-style strap on the cuff adding character and functionality. Lightweight and bulk-free,
                        your hands will have plenty of movement and control in these, while the fleece lining will keep them warm and comfortable.
                        A classic men’s glove. </p>
                    <div class="price">
                        <p>Price : $99.99</p>
                    </div>
                    <a href="women-accessories1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/TG250_206.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Oxford Gloves</h2>
                <div class="description">
                    <p>The grain leather gives a slightly worn look and feel to this practical glove, with the belt-style strap on the cuff adding character and functionality. Lightweight and bulk-free, your hands will have plenty of movement and control in these,
                        while the fleece lining will keep them warm and comfortable. A classic men’s glove. </p>
                    <div class="price">
                        <p>Price : $99.99</p>
                    </div>
                    <a href="women-accessories2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/TG508_206.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Classic Deer Gloves</h2>
                <div class="description">
                    <p>These simple, stylish gloves have a great look and feel, with outseam construction for rugged character and select deerskin leather for premium quality. The fleece lining provides essential winter warmth,
                        with a lightly tailored cuff for extra protection – featuring a Untitled grommet button for detail. A classic glove for men. </p>
                    <div class="price">
                        <p>Price : $99.99</p>
                    </div>
                    <a href="women-accessories3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/TG720_754.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Unisex Boot II Gloves</h2>
                <div class="description">
                    <p>Over thirty years ago, with the finest leathers and New England craftsmanship, we built our classic waterproof boots.
                        These are the gloves that go with those boots, to keep your hands looking and feeling as good as your feet. </p>
                    <div class="price">
                        <p>Price : $95</p>
                    </div>
                    <a href="women-accessories4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/TG733_243.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Resolve Gloves</h2>
                <div class="description">
                    <p>Warm up your hands during cool weather with these stylish leather gloves.
                        The wool/cashmere lining provides added warmth and a soft, cosy feel. </p>
                    <div class="price">
                        <p>Price : $99.99</p>
                    </div>
                    <a href="women-accessories5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/TG786_214.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Men's Yarmouth Gloves</h2>
                <div class="description">
                    <p>For smart vintage style with country western influence, the Yarmouth glove looks and feels great – with soft faux fur lining on the interior keeping your hands warm and protected. The hook and loop strap on the cuff means
                        you can adjust for a comfortable fit, and our tree logo button helps bring out the subtle cowboy character. A classic glove for men. </p>
                    <div class="price">
                        <p>Price : $119.99</p>
                    </div>
                    <a href="women-accessories6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
