<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-ties">Women-Ties</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>






<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.1033095OC.BLUJEFB.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Solid Luxe Scarf</h2>
                <div class="description">
                    <p>Add a punch of color to your spring wardrobe with this solid luxe scarf. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-ties1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.1033095OC.GUAVAFB.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Solid Luxe Scarf</h2>
                <div class="description">
                    <p>Add a punch of color to your spring wardrobe with this solid luxe scarf. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-ties2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.W20766.BLACKXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Classic Wrap</h2>
                <div class="description">
                    <p>Our classic wrap is a must have for topping outfits.  Try any one of our great colors to spice up your wardrobe! </p>
                    <div class="price">
                        <p>Price : $34</p>
                    </div>
                    <a href="women-ties3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.1033094OC.BLMISFB.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Striped Multi Color Scarf</h2>
                <div class="description">
                    <p>This striped multi color scarf is irresistibly stylish. Add to any outfit for additional flare! </p>
                    <div class="price">
                        <p>Price : $34</p>
                    </div>
                    <a href="women-ties4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.1033095OC.JWHITFB.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Solid Luxe Scarf</h2>
                <div class="description">
                    <p>Add a punch of color to your spring wardrobe with this solid luxe scarf. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-ties5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.1033095OC.ROYTQFB.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Solid Luxe Scarf</h2>
                <div class="description">
                    <p>Add a punch of color to your spring wardrobe with this solid luxe scarf. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-ties6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
