<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-jewelry">Women-Jewelry</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>




<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60119198.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Worn Gold Curved Earring</h2>
                <div class="description">
                    <p>An Instant in glam; pair with matching bracelet for a perfect look!
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $18</p>
                    </div>
                    <a href="women-jewelry1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60119208.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Worn Gold Cuff Bracelet</h2>
                <div class="description">
                    <p>An Instant in glam; pair with matching earring for a perfect look!
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-jewelry2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60119248.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Worn Gold Cuff Bracelet</h2>
                <div class="description">
                    <p>An Instant in glam; pair with matching earring for a perfect look!
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-jewelry3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60119255.JJG03XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Infinity Stretch Worn Silver Bracelet</h2>
                <div class="description">
                    <p>Dress any outfit up with this stretch bracelet in worn silver.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $40</p>
                    </div>
                    <a href="women-jewelry4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60119261.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Worn Gold Stretch Bracelet</h2>
                <div class="description">
                    <p>Pair with matching earring for a complete look.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-jewelry5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60119239.JJ887XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Turquoise and Gold Bracelet</h2>
                <div class="description">
                    <p>Pair with matching earring or necklace for a complete look.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch.  </p>
                    <div class="price">
                        <p>Price : $38</p>
                    </div>
                    <a href="women-jewelry6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
