<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-footwear">Women-Footwear</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>





<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.CJAYLIN.BLACKSY.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Aylin</h2>
                <div class="description">
                    <p>A classic Circa Joan & David slingback. This slingback makes any outfit effortless! </p>
                    <div class="price">
                        <p>Price : $79</p>
                    </div>
                    <a href="women-footwear1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.CJBOZWELL.BLACKLE.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Bozwell</h2>
                <div class="description">
                    <p>Comfortable and stylish! Sweet casual flat with cutout detail.</p>
                    <div class="price">
                        <p>Price : $89</p>
                    </div>
                    <a href="women-footwear2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.CJEVALUNA.IVORYPA.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Evaluna</h2>
                <div class="description">
                    <p>Circa Joan & David's Evaluna is a great casual shoe. You will love the open toe and cutout detail. </p>
                    <div class="price">
                        <p>Price : $99</p>
                    </div>
                    <a href="women-footwear3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.CJINCASE.MEDNALE.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Incase</h2>
                <div class="description">
                    <p>Comfortable and stylish! Sweet sandal with studding detail. </p>
                    <div class="price">
                        <p>Price : $110</p>
                    </div>
                    <a href="women-footwear4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.CJJETHRA.DPEWTMT.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Jethra</h2>
                <div class="description">
                    <p>Beauty and elegance all in one shoe!  </p>
                    <div class="price">
                        <p>Price : $99</p>
                    </div>
                    <a href="women-footwear5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.CJPRANCER.LPNKMPA.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Prancer</h2>
                <div class="description">
                    <p>Expand on your shoe wardrobe with these  patent t-straps. </p>
                    <div class="price">
                        <p>Price : $99</p>
                    </div>
                    <a href="women-footwear6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
