<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-jackets">Women-Jackets</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>





<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10224300.JJ169XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>3/4 Sleeve Jacket</h2>
                <div class="description">
                    <p>This relaxed fit 3/4 sleeve jacket is perfect from day-to-dinner. It's a perfect look with pants, skirts or shorts.</p>
                    <div class="price">
                        <p>Price : $89</p>
                    </div>
                    <a href="women-jackets1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10224468.JJ5YMXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Belted Hooded Jacket</h2>
                <div class="description">
                    <p>A belt, a hood, zippers, pockets and more! This jacket has everything you need to brighten up your wardrobe! </p>
                    <div class="price">
                        <p>Price : $103.99</p>
                    </div>
                    <a href="women-jackets2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10224496.JJ0CZXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>3/4 Sleeve Relaxed Jacket</h2>
                <div class="description">
                    <p>This relaxed fit 3/4 sleeve jacket is perfect from day-to-dinner. Add the matching pant and you are ready to go! </p>
                    <div class="price">
                        <p>Price : $79</p>
                    </div>
                    <a href="women-jackets3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10224848.JJ0RWXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Relaxed Fit Jacket</h2>
                <div class="description">
                    <p>The simplicity and elegance of this jacket will amaze you.  Its soft hand and classic shape make it just right for you. </p>
                    <div class="price">
                        <p>Price : $109</p>
                    </div>
                    <a href="women-jackets4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.10222252.JJ7ZVXX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Textured Zip Front Jacket</h2>
                <div class="description">
                    <p>We are obsessed with our new textured zip front jacket.
                        This new version of our stand collar jacket is perfect for nine-to-five and beyond. </p>
                    <div class="price">
                        <p>Price : $163.99</p>
                    </div>
                    <a href="women-jackets5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.10222015.JJR75XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>2 Flap Pocket Jacket</h2>
                <div class="description">
                    <p>We've updated our favorite jacket with a new color for the season.  It's perfect for nine-to-five and beyond. </p>
                    <div class="price">
                        <p>Price : $155.99</p>
                    </div>
                    <a href="women-jackets6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
