<!DOCTYPE html>
<html>
  <head>




   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

   <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
   <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <link rel="stylesheet" href="/stylesheets/style.css">



  </head>
  <body>



<% include partials/header.ejs %>

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="index">Home</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-fashion">Women-Fashion</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
    <li class="breadcrumb-item"><a href="women-earrings">Women-Earrings</a><span class="glyphicon glyphicon-circle-arrow-right"></span></li>
  </ol>





<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.52024001VC.ANTGOML.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Hammered Gold Earrings</h2>
                <div class="description">
                    <p>The best silver earrings to add a subtle but elegant look.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch.</p>
                    <div class="price">
                        <p>Price : $20</p>
                    </div>
                    <a href="women-earrings1" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60108564.JJNY2XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Silver Chandler Earring</h2>
                <div class="description">
                    <p>Dress up any outfit with these silver chandler earring. The light green and brown beads add a little bit of color for
                        a perfect look. Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $30</p>
                    </div>
                    <a href="women-earrings2" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60108563.JJNY2XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Bronze Clip On Button Earring</h2>
                <div class="description">
                    <p>This classic styled button earring is the prefect way to add a little color to your wardrobe.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $10</p>
                    </div>
                    <a href="women-earrings3" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.79942169.JJB84A0.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Worn Gold Dangle Earring</h2>
                <div class="description">
                    <p>These earrings are sophisticated and fun. Looks great with a dark color shirt. </p>
                    <div class="price">
                        <p>Price : $20</p>
                    </div>
                    <a href="women-earrings4" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>

<div class="product-card">
    <div class="container-fluid padding">

        <div class="row padding">
            <div class="col-lg-6" style="background-color: white ;border-radius:10px 10px;border: 4px solid #2b669a" >
                <div class="image">
                    <img src="../images/products/large/PG.60119287.JJ900A0.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Green and Gold Clip On Earring</h2>
                <div class="description">
                    <p>Brighten your day with this beautiful green and gold dangle earring. Enjoy them all year round.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch </p>
                    <div class="price">
                        <p>Price : $24</p>
                    </div>
                    <a href="women-earrings5" class="btn btn-success">More Info</a>
                </div>
            </div>

            <div class="col-lg-6" style="background-color: white; border-radius:10px 10px;border: 4px solid #2b669a">
                <div class="image">
                    <img src="../images/products/large/PG.60119273.JJG03XX.PZ.jpg" width="350" height="400" class="rounded float-left" alt="...">
                </div>
                <h2>Cluster Drop Earring</h2>
                <div class="description">
                    <p>Drop earring with beautiful greens and blues stones with silver beads.
                        Each piece of jewelry will be shipped with a beautiful Untitled Store velvet gift pouch. </p>
                    <div class="price">
                        <p>Price : $26</p>
                    </div>
                    <a href="women-earrings6" class="btn btn-success">More Info</a>
                </div>
            </div>

        </div>

    </div>
</div>




<div class="footer">

 		<p class="text-center">&copy; OSF Global Services</p>

 </div>


  </body>
</html>
